.container {
  display: flex;
  flex-direction: column;
}

.inline-block {
    display: inline-block;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.section-data {
    margin-top: 50px;
}
